config setup
       crlcheckinterval={{ strongswan_crlcheckinterval }}
       strictcrlpolicy={{ strongswan_strictcrlpolicy }}
       plutostart={{ strongswan_plutostart }}

include /etc/ipsec.conf.d/*.conf
